@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
  /*&:after {
      pointer-events: none;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 1;
      transition: opacity 0.3s ease;
      background: linear-gradient(transparent 0px, var(--light));
    }*/

  // & > h3 {
  //   font-size: 1rem;
  //   margin: 0;
  // }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }

  & > .overflow {
    &:after {
      display: none;
    }
    height: auto;
    @media all and not ($desktop) {
      height: 250px;
    }
  }

  .desc h3 {
    margin: 12px 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
  
  a.internal{
    display: block;
    margin: 0;
    padding: 0;
  }
  
  div.gallery {
    border: 0px solid #ccc;
    float: left;
    width: 200px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  div.gallery img {
    object-fit:cover;
    width:100%;
    height:200;
    display: block;
    margin: 0;
  
  }
  
  div.desc {
    text-align: left;
    margin: 5px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }
}
