@use "./base.scss";
@use "sass:map";

@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";

// put your custom CSS here!


.gallery {
    border: 0px solid #ccc;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    width: 200px;
    max-width: 45%;

    &:hover {
        border: 1px solid #777;
        box-sizing: border-box;
        border-radius: 5px;
    }

    & > a > img {
        width: 200;
        aspect-ratio: 1/1;
        object-fit: cover;
        display: block;
        margin: 0;

    }

    & > a > .desc {
        text-align: left;
        margin: 5px;
    }

    & > a > .desc h3 {
        margin: 12px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }
}
